
html,body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.playground{
    display: flex;
    min-height: 100vh;
    height: fit-content;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-image: url(img/fondoCaramero.png);
    background-size:20%;
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: white;
}
  :root {
    --time-base: 1s;
        --time-scale: 1;
        --animation-time: calc(var(--time-base) * var(--time-scale));
        --super-fast-anim: calc(var(--animation-time) * 0.2);
        --fast-anim: calc(var(--animation-time) * 0.3);
        --medium-anim: calc(var(--animation-time) * 0.5);
        --slow-anim: var(var(--animation-time));
  }


 .card {
     width: 100%;
     max-width: 70%;
     background: #fff;
     box-shadow: 0 5px 10px rgba(120, 88, 88, 0.2); 
 }

 .card-title{
    color: white;
    background-color: #e095a4;
    padding: 3px 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
  .card-container{
      padding: 20px 30px;
  }

 .acordeon{
    margin: 15px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(224, 148, 163);
    box-shadow: 0 5px 10px rgba(120, 88, 88, 0.25);
 }
 .acordeon-title  {
     display: flex;
     justify-content: space-between;
     align-items: center;
    cursor: pointer;
 }

 .acordeon-title p {
     margin: 0;
     font-size: 1em;
     color: #333;
 }

 .open-close {
     font-size: 1em;
     color: gray;
     transform: rotate(45deg);
     
 }
  .acordeon:hover {
    transform: scale(1.02);
    background-color: rgba(224, 148, 163, 0.1);

    .open-close{color: rgb(72, 72, 72);}
      
  }

  .acordeon-content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease;
      padding: 0 15px;
      font-size: 0.7em;

      .form-row{
        display: flex;
        gap: 5%;
        margin:  15px 0 ;
        width: 100%;
        padding: 0;
      }

      .form-col{
        flex: 1;
        width: 45%;
        padding: 0;
      }

     

      p{
        font-size: 1.5em;
      }

      input{
        width: 100%;
        border: 0;
        color:gray;
        border-bottom: 1px solid rgb(224, 148, 163);
      }

            input:focus {
              outline: none;
              box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
            }
  }

  .toggle {
      display: none;
  }
  .toggle:checked+.acordeon-title+.acordeon-content {
      max-height: 1000px;
      padding: 15px;
  }
    /* PESTAÑA DE PRECIOS*/
    .quantity-controls {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  
    .quantity-controls span {
      flex: 1;
      font-weight: bold;
    }
  
    .quantity-controls .quantity-input {
      width: 50px;
      text-align: center;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 5px;
    }
  
    .quantity-controls button {
      background-color: #e095a4;
      color: white;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
      font-size: 1em;
      border-radius: 5px;
    }
  
    .quantity-controls button:hover {
      background-color: #d07488;
    }
  
    .price {
      margin-left: auto;
      font-weight: bold;
      color: #333;
    }
 

    /*TARJETA DE CREDITO  */
 .credit-card {
   width: 350px;
   background: linear-gradient(135deg, white,#e095a4);
   border-radius: 15px;
   padding: 20px;
   
   box-shadow: 1px 1px 0 1px #f9f9fb,0 8px 20px rgba(0, 0, 0, 0.2);
 }

 .card-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 20px;
 }

 .card-title {
   font-size: 1.5em;
   margin: 0;
  color: white;
 }

 .card-chip {
   width: 40px;
   height: 30px;
   background: linear-gradient(90deg, #f8e4c1, #d2aa63);
   border-radius: 5px;
 }

 .card-form {
   display: flex;
   flex-direction: column;
   gap: 15px;
 }

/* PARA LA BASE DE LA VISTA CON LOS BOTONES*/
  .card-footer {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .button{
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    box-shadow: inset -3px -5px 5px rgba(72, 72, 72, 0.4),
            inset 3px 5px 10px rgba(255, 255, 255, 0.3),
            5px 2px 4px rgba(72, 72, 72, 0.2);
  }

  #cancel {
    color: white;
    background-color: gray;
     
  }

  #submit{
    color: white;
    background-color: #e095a4;
  }


